<div class="container text-center">

  <div class="banner_artistiques mb-5">
    <h1>Artistiques</h1>
  </div>

  <div class="grid-container mb-5">
    <%= link_to concerts_path, class:"text-decoration-none menu-img" do %>
      <div class="grid-item-1 text-white">Concerts</div>
    <% end %>
    <%= link_to tournages_path, class:"text-decoration-none menu-img" do %>
      <div class="grid-item-2 text-white">Tournages</div>
    <% end %>
    <%= link_to blog_path, class:"text-decoration-none menu-img" do %>
      <div class="grid-item-4 text-white">Mon blog</div>
    <% end %>
  </div>

</div>
