<div class="footer bg-black text-white">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github text-white"></i></a>
    <a href="#"><i class="fab fa-instagram text-white"></i></a>
    <a href="#"><i class="fab fa-facebook text-white"></i></a>
    <a href="#"><i class="fab fa-twitter text-white"></i></a>
    <a href="#"><i class="fab fa-linkedin text-white"></i></a>
  </div>
  <div class="footer-copyright">
    This will be the footer of the app with relevant infos
  </div>
</div>
