<div class="banner">
  <div class="container">
    <h1>Mad Basque Studio</h1>
    <p>Here we'll have a great catchphrase but not right now</p>
  </div>
</div>

<div class="grid-container">
  <div class="grid-item-1"><%= link_to "Concerts", concerts_path, class: "text-decoration-none text-white"%></div>
  <div class="grid-item-2"><%= link_to "Tournages", tournages_path, class: "text-decoration-none text-white"%></div>
  <div class="grid-item-3"><%= link_to "Artistiques", artistiques_path, class: "text-decoration-none text-white"%></div>
  <div class="grid-item-4"><%= link_to "Mon blog", blog_path, class: "text-decoration-none text-white"%></div>
</div>
