<div class="container">
  <div class="post text-center">
    <h2 class="mb-5"><%= @post.title %></h2>
    <% @post.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 500, width: 700, crop: :fill %>
    <% end %>
    <p class="mt-5"><%= @post.content %></p>
  </div>
</div>
