.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpij7tmvy/image/upload/v1665507999/development/DSCF2736_p32vsh.jpg);
  height: 550px;
  display: flex;
  align-items: center;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: lighter;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner_tournages {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpij7tmvy/image/upload/v1665507986/development/DSCF2449_xftz2z.jpg);
  padding: 150px 0;
  color: white;
}

.banner_concerts {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpij7tmvy/image/upload/v1665507772/development/DSCF0852_ort8jf.jpg);
  padding: 150px 0;
  color: white;
}

.banner_artistiques {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpij7tmvy/image/upload/v1665507817/development/IMG_4971_t80rdq.jpg);
  padding: 150px 0;
  color: white;
}

.banner_blog {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  padding: 150px 0;
  color: white;
}

.banner-aura-noir {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpij7tmvy/image/upload/v1666035878/development/3b7mc4q9vvy5halsgzgeeo1f1m0j.jpg);
  padding: 150px 0;
  color: white;
}

.banner-hail-spirit-noir {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpij7tmvy/image/upload/v1665507616/development/DSCF4365_l8jpxa.jpg);
  padding: 150px 0;
  color: white;
}

.banner-feux-de-beltane {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpij7tmvy/image/upload/v1665507726/development/DSCF1160_rcgxnv.jpg);
  padding: 150px 0;
  color: white;
}

.banner-voyage-de-stone {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpij7tmvy/image/upload/v1665507868/development/IMG_4979_tyrjuh.jpg);
  padding: 150px 0;
  color: white;
}

.banner-yetili {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dpij7tmvy/image/upload/v1665507989/development/DSCF2485_cxhi3j.jpg);
  padding: 150px 0;
  color: white;
}
