.menu-img {
  opacity: 0.9;
}

.menu-img:hover {
  opacity: 1;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  margin: 5px 5px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.grid-item-1 {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://res.cloudinary.com/dpij7tmvy/image/upload/v1665507772/development/DSCF0852_ort8jf.jpg");
  background-size: cover;
  padding: 100px;
}

.grid-item-2 {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://res.cloudinary.com/dpij7tmvy/image/upload/v1665507986/development/DSCF2449_xftz2z.jpg");
  background-size: cover;
  padding: 100px;
}

.grid-item-3 {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://res.cloudinary.com/dpij7tmvy/image/upload/v1665507817/development/IMG_4971_t80rdq.jpg");
  background-size: cover;
  padding: 100px;
}

.grid-item-4 {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  padding: 100px;
}

.photo_grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  margin: 5px 5px;
}
